APP_NAME=Animal
APP_ENV=development

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_ECHO=

DEBUG=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_TIME_MINUTES=
RESET_PASSWORD_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
ADMIN_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=