APP_NAME=Animal
APP_ENV=development

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_ECHO=

DEBUG=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_TIME_MINUTES=
REFRESH_TOKEN_TIME_DAYS=
ADMIN_SECRET=
JWT_ALGORITHM=

SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=

COOKIE_SECURE=
COOKIE_DOMAIN=

CORS_ORIGINS=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

FRONTEND_URL=

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
ANTHROPIC_MAX_TOKEN=
ANTHROPIC_TEMPERATURE=
ANTHROPIC_TOP_K=
ANTHROPIC_TITLE_MAX_TOKEN=
ANTHROPIC_SUMMERY_MAX_TOKEN=
SUMMARY_EVERY_N=
RECENT_WINDOW=